@import "bootstrap-sprockets";
@import "bootstrap";

// Variables
$facebook: #3b5998;
$entrance: #edf0f5;

// Header
header {
  background-color: $facebook;
  font-weight: bold;
  font-size: 3rem;
  color: white;
  height: 8rem;
  div {
    font-size: 2rem;
    width: 25%;
  }
}
.fb {
  float: left;
  left: 2.5rem;
  position: relative;
  top: 1.5rem;
}
.top-panel {
  float: right;
  position: relative;
  right: -5rem;
  top: 1rem;
  width: 42%;
  span {
    font-size: 1.7rem; 
    padding: 0.5rem;
    a { 
      color: white;
      &:hover { color: rgb(127, 127, 179); }
    }
  }
}

// Body
body {
  background-color: $entrance;
  overflow: scroll;
  max-width: 100%;
}

// Sign Up Form
.sign-back { 
  background-color: $entrance;
  padding-bottom: 3rem;
  p { margin-left: 4rem; } 
}
.clearfix {
  content: "";
  clear: both;
  display: block;
}
.sign-left {
  float: left;
  padding: 4rem;
  width: 50%;
}
.sign-right {
  float: right;
  width: 50%;
  h2 { margin-left: 4rem; }
  .field { 
    margin-left: 4rem; 
  }
  .login {
    font-weight: bold;
  }
}
.form-area {
  border-radius: 10px;
  border: none;
  height: 3rem;
  width: 30rem;
}
.su-btn {
  background-color: RGB(74, 158, 59);
  color: white;
  font-weight: bold;
}

// Login Form

.login-form {
  background-color: $entrance;
  text-align: center;
  padding: 2rem;
  padding-bottom: 4rem;
}

// Footer (Login & Sign up)
footer {
  padding: 0.1rem;
}
.ftr-1 {
  li {
    display: inline;
    color: #436CD6;
    font-size: 1.15rem;
    padding-right: 2.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
  p { 
    font-size: 1.15rem;
    padding-top: 0.5rem;
    margin-left: 4rem; 
  }
}
.lang {
  position: relative;
  top: 0.5rem;
}

// User's (show) Page

.user {
  margin: 0 auto;
  width: 80%;
}
.show-stn-1 {
  background-color: white;
  height: 10rem;
  .inner { 
    margin: 0 auto;
    width: 60%; 
  }
  .user-img {
    position: relative;
    left: 30%;
    width: 15%;
  }
  .user-info { 
    bottom: 8rem;
    position: relative;
    left: 45%;
    width: 40%;
  }
}
.show-stn-2 {
  background-color: white;
  h4 { margin-left: 1rem; }
}
.post-form {
  border-radius: 10px;
  height: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 70%;
}
.pt-fm {
  margin: 0 auto;
  padding-top: 2rem;
  width: 70%; 
}
.post {
  padding: 1rem;
}
.post-content { font-size: 2rem; }
.ind-post { 
  background-color: white;
  border: 1px solid;
  padding-bottom: 2rem; 
  padding-top: 2rem;
  margin-top: -0.9rem;
}
.user-name { font-size: 2.2rem; }
.comm-label {
  font-weight: bold;
  text-decoration: underline;
}
.comm-no { margin: 1.2rem; }
.comments { 
  margin-left: -5rem;
}
.divider { margin-top: 1rem; }

// User Index Page

.u-index {
  border-bottom: 1px solid rgb(163, 161, 161);
  padding: 2rem;
  width: 50%;
  .u-name {
    bottom: 2rem;
    font-size: 2rem;
    left: 1rem;
    position: relative;
  }
  .u-btn {
    bottom: 3.5rem;
    left: 9.3rem;
    position: relative;
  }
}

// Post Index Page

h1 { text-align: center; }

