<footer>
  <div class="ftr-1">
    <ul class="lang">
      <li>English (US)</li>
      <li>Español</li>
      <li>Français (France)</li>
      <li>中文(简体)</li>
      <li>Bahasa Indonesia</li>
      <li>العربية</li>
      <li>Deutsch</li>
      <li>Português (Brasil)</li>
      <li>Italiano</li>
      <li>हिन्दी</li>
      <li>日本語</li>
    </ul>
  </div><hr>
  <div class="ftr-1">
  <ul>
      <li>Sign Up</li>
      <li>Log In</li>
      <li>Messenger</li>
      <li>Facebook Lite</li>
      <li>Watch</li>
      <li>People</li>
      <li>Pages</li>
      <li>Page Categories</li>
      <li>Places</li>
      <li>Games</li>
      <li>Locations</li>
      <li>Marketplace</li>
      <li>Groups</li>
    </ul>
    <ul>
      <li>Instagram</li>
      <li>Local</li>
      <li>Fundraisers</li>
      <li>Services</li>
      <li>About</li>
      <li>Create Ad</li>
      <li>Create Page</li>
      <li>Developers</li>
      <li>Careers</li>
      <li>Privacy</li>
      <li>Cookies</li>
      <li>Ad Choices</li>
      <li>Terms</li>
      <li>Help</li>
    </ul>
  </div>
  <div class="ftr-1">
    <p>Facebook © 2019</p>
  </div>
</footer>